<h1>Usuarios</h1>

{{#each usuarios}}

<div>

    <p>{{this.nombre}}</p><br>
    <p>{{this.apellido}}</p><br>
    <p>{{this.edad}}</p><br>
    <p>{{this.correo}}</p><br>
    <p>{{this.telefono}}</p><br>

</div><br>

{{/each}}